# Ignore les modules Node.js installés localement
node_modules/

# Ignore les fichiers de configuration d'environnement
.env

# Ignore les fichiers de log générés par le système
logs/
*.log

# Ignore les fichiers temporaires
*.tmp
*.temp

# Ignore les fichiers de sauvegarde créés par les éditeurs de texte
*~

# Ignore les fichiers de configuration spécifiques à l'utilisateur
.idea/
.vscode/

# Ignore les fichiers de build générés
build/
dist/

# Ignore les fichiers d'installation de dépendances
package-lock.json
yarn.lock

# Ignore les fichiers de cache
.cache/